table {
    color: black;
    width: 768px;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 7px solid #04B45F;
    padding: 2px 24px 2px 0px;
    background: #fff;

}

th, td, input {
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

p, input     {
    font-size: 15px;
}

.alignRight {
    margin-top: 2%;
    float: right;
}

.container {
    display: inline-block;
    margin: 5% 20% 5% 20%;

}


#saveChangesButton {
    height: 40px;
    background: #04B45F;
    box-sizing: border-box;
    border: 1px solid #04B45F;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

}