h1   {color:black}

.searchBarAdmin {
    margin-top: 3%;
    margin-left: 35%;
}

.box {
    background: #fbfcfc;
    height: 100%;
    padding: 1px;
    margin-bottom: 20px;
}

.box-head {
    background: #04B45F;
    height: 32px;
    color: #fff;
    padding: 0 10px;
    line-height: 32px;
    white-space: nowrap;
    border-bottom: solid 1px #fff;
}

.box-head .right {
    padding-top: 3%;
    margin: 0% 0% 0% 0%;
    line-height: 13px;
}

.box-head .right label,
.box-head .right input {
    float: left;
}

.box-head .right label {
    padding: 4px 0 0 0;
}

.box-head .right input {
    margin-left: 5px;
}

.box-content p {
    padding-top: 10px;
}

.box {
moz-border-radius: 5px;
webkit-border-radius: 5px;
moz-box-shadow: 0 0 6px #978f6c;
webkit-box-shadow: 0 0 6px #978f6c;
}

.box-head {
moz-border-radius-topleft: 5px;
moz-border-radius-topright: 5px;
webkit-border-top-left-radius: 5px;
webkit-border-top-right-radius: 5px;
}

.button {
moz-box-shadow: 0 0 2px #978f6c;
webkit-box-shadow: 0 0 2px #978f6c;
}

img {
    border:none;
    outline:none;
}

a {
    text-decoration:none;
}

.as_gridder_table th {
    color: black;
    text-align: left;
    padding: 7px 10px;
    border-bottom: solid 1px #d2d1cb;
}

.as_gridder_table td {
    background: #fbfcfc;
    border-bottom: solid 1px #e0e0e0;
    padding: 8px 10px;
}

.as_gridder_table {
    border-collapse:collapse;
    border:#c9e7e9 solid 1px;
}

.as_gridder_table tr:hover td {
    background: #fff9e1;
}

.grid_content span {
    display: inline-block;
    width: auto;
}

.gridder_add {
    display:block;
    border:#CCCCCC solid 1px;
}

#addnew {
    display:none;
}

#saveChanges{
    margin: 0% 0% 0% 80%;
}

.gridder_addrecord_button {
    margin:0;
    padding:0;
    outline:none;
    border:none;
    background:url(../images/icons/tick.png) no-repeat;
    cursor:pointer;
    display:inline-block;
    height:16px;
    width:16px;
}

.as_gridder_table tr.odd {
    background-color:#fffeff;
webkit-transition: background-color 0.5s ease-out;
moz-transition: background-color 0.5s ease-out;
o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.as_gridder_table tr.even {
     background-color:#F1F1F1;
 webkit-transition: background-color 0.5s ease-out;
 moz-transition: background-color 0.5s ease-out;
 o-transition: background-color 0.5s ease-out;
     transition: background-color 0.5s ease-out;  
}

.gridder_input, .gridder_add {
    display:none;
    margin:0;
    padding:0;
    outline:none;
    border:none;
    padding:2px;
    border:#000000 solid 1px;
    width:auto;
    height:auto;
}

.gridder_input.select, .gridder_add.select {
    height:auto;
}

.gridder_input:hover, .gridder_input:active, .gridder_add:hover, .gridder_add:active {
    outline:none;
}