
html
{
    overflow-y: scroll;
    height: 100%;

}

body {
    height: 100%;
    font-family: arial, sans-serif;
    background: linear-gradient(90deg, #f3f45a, #67d347, #f3f45a);
    background-size: 100%;

}

.sort {
    margin-top: 7em;
    width: 100%;
    font-size: 150%;
}

.sort label
{
    display: none;
}

.dropdownlistSort {
    width: 100%;
    height: 2.5em;
    background-color: lightgreen;
    font-size: 120%;
    margin-top: 2em;
}

.wrapper {
    min-height: 100%;
    position: relative;
    margin-top: 3em;
}

#menu {
    float: left;

}

.menu, .submenu {
    width: 18em;
}

.menu {
    height: 5em;
    text-align: center;
    background: #2abb3f;
    color: #fff;

}

.submenu {
    height: 5em;
    text-align: left;
    background: rgb(0, 200, 0);
    color: #fff;
}

.menu label {
    display: block;
    line-height: 250%;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.submenu label {
    display: block;
    padding-top: 0.7em;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    background: rgb(0, 200, 0);
}

.submenu label
{
    font-size: 150%;
}

#submenu4 .submenu {
    height: 6em;
    text-align: center;
    background: rgb(0, 200, 0);
    color: #fff;
}

#submenu4 .submenu label {
    display: block;
    padding-top: 0.7em;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background: rgb(0, 200, 0);
}

#submenu4 .submenu label input
{
    width: 95%;
}

#show {
    position: absolute;
    padding: 50px;

}

.menu label:hover {
    background: rgb(0, 85, 0)
}

.submenu label:hover, .submenu label:active, .submenu label:focus {
    background: rgb(0, 250, 0);
}

.bannerHead * {
    display: inline-block;
}

.languages {
    position: absolute;
    right: 2em;
}

.flags, #copyrightLogo {
    width: 5em;
    text-align: center;
    vertical-align: middle;
}

.centerVertical {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display:block;
    width: 100%;
}

.centerVertical form
{
    width: 100%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* LOGIN BLOCK */
.loginBlock {
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    border-top: 7px solid #04B45F;
    font-size: 150%;
    height: 40em;
}

.loginBlock h1 {
    text-align: center;
    color: #000;
    font-size: 5em
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}

.loginBlock input, #searchBar {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 0 20px 0 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 1em;

}

.menuInput {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0 20px 0 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.loginBlock button, #showButton, #compareButton {

    background: #04B45F;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #04B45F;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

#showButton, #compareButton
{
    font-size: 1.5em;
    height: 4em;
    width: 8em;
}

.loginBlock button:hover {
    background: #74DF00;
}

/* CREATE NEW ARTICLE BLOCK */
.createNewArticleBlock {
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    margin: 5% 20% 5% 20%;
    border-top: 7px solid #04B45F;

}

.createNewArticleBlock h1 {
    text-align: center;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.createNewArticleBlock input, select {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0 20px 0 10px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;

}

.createNewArticleBlock textarea {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0 20px 0 10px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;

}

.createNewArticleBlock button {
    width: 100%;
    height: 40px;
    background: #04B45F;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #04B45F;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.createNewArticleBlock button:hover {
    background: #74DF00;
}

#searchBar {
    width: 100%;
    height: 5em;
}

#searchButton, #compareButton {
    width: 10em;
}

#bannerFooter {
    text-align: center;
}

#logo {
    width: 20em;
}

.centerShowItems {
    margin-left: 16em;
    margin-right: 18em;
    position: relative;
}

.centerShowItems li {
    list-style-type: none;
    display: inline-block;
    width: 13em;
    border-radius: 0.3em;
    background: white;
    padding: 1em;
    border-style: solid;
    border-color: green;
    background-image: linear-gradient(60deg, rgb(240, 255, 240), lightyellow);
    font-size: 150%;
}

.italicText {
    font-style: italic;
    color: grey;
    position: relative;
    font-size: 150%;
    left: 50%;
    transform: translate(-50%, 0);
}

.menuLabel {
    text-align: center;
}

.rightComparator {
    float: right;
    width: 18em;
    background: #2abb3f;

}

.centerHorizontally {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#designThInfo {
    font-size: 150%;
    width: 9em;
    border: solid black 1px;
    text-align: left;
}

#compareButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#addToCompareListButton {
    position: relative;
    float: right;
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
}

#radioButtonCompare {
    width: 5em;
    height: 5em;
    padding-left: 5px;
}

#deleteButtonCompare {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 120%;
}

#searchButton
{
    display: none;
}

.imageDesign
{
    display: none;
}

.centerShowItems ul li tbody tr td
{
    width: 7em;
}

.rightComparator table tbody tr th
{
    font-size: 150%;
}

#categoryDropdownlist, .loginBlock form
{
    width: 100%;
    height: 2.5em;
    font-size: 120%;
}

.loginBlock form input
{
    height: 2em;
}

.buttons
{

    width: 10em;
    height: 2em;
    font-size: 2em;
    margin-top: 5em;
}