body
{
    font-family: arial, sans-serif;
}

.bannerHead *
{
    display: inline-block;
}


.languages
{
    position: absolute;
    right:2em;
}

.flags, #copyrightLogo
{
    width:2em;
}

.searchBar
{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
}


#searchBar
{
    width:30em;
}

#bannerFooter
{
    position:absolute;
    left:50%;
    transform:translate(-50%,0)
}

#logo
{
    width:15em;
}