html
{
    overflow-y: scroll;
}
body
{
    font-family: arial, sans-serif;
    background: url('../images/background.jpg');
    background-size: cover;

}

* {
    padding: 0;
    outline: none;
}

/* Settings of the box menu */
div.wrapper {
    width: 15em;
}

/* Sub menu settings */
nav.vertical {
    border-radius: 4px;
    overflow: hidden;
    text-align: left;
}

nav.vertical > ul {
    list-style-type: none;
}

nav.vertical > ul > li {
    display: block;
}

/* Style of the Menu title */
nav.vertical > ul > li > a {
    background-color: rgb(0,204,0);
    border-bottom: 1px solid rgba(255,255,255,.1);
    color: rgb(255,255,255);
    display: block;
    font-size: .85rem;
    font-weight: 500;
    height: 50px;
    letter-spacing: .5rem;
    line-height: 50px;
    text-transform: uppercase;
    transition: all .1s ease;
    text-decoration: none;
    text-align: center;
}


/* When you go with your mouse on the title of the menu */
nav.vertical > ul > li > a:hover {
    background-color: rgb(0, 150, 0);
    cursor: pointer;
}

/* Background of the submenu */
nav.vertical > ul > li > div > ul > li > a {
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;

}
/* When you are on the submenu*/
nav.vertical > ul > li > div > ul > li:hover > a {
    background-color: rgb(0,250,0);
    color: rgb(255,255,255);
}

.bannerHead *
{
    display: inline-block;
}


.languages
{
    position: absolute;
    right:2em;
}

.flags, #copyrightLogo
{
    width:2em;
    text-align: center;
    vertical-align: middle;
}

.centerVertical
{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


.loginBlock {
    width: 420px;
    height: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    border-top: 7px solid #04B45F;
}

.loginBlock h1 {
    text-align: center;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}

.loginBlock input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0 20px 0 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;


}

.loginBlock button {
    width: 100%;
    height: 40px;
    background: #04B45F;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #04B45F;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.loginBlock button:hover {
    background: #74DF00;
}












#searchBar
{
    width:30em;
}

#bannerFooter
{
    position:relative;
    left:50%;
    transform:translate(-50%,0);
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}

#logo
{
    width:15em;
}




.centerShowItems
{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    top:5em;
    width:60em;
    background-color: black;
}

.centerShowItems li
{
    list-style-type: none;
    display: inline-block;
    width:15em;
    margin:0.5em;
}



