body
{
    font-family: arial, sans-serif;
}

.bannerHead *
{
    display: inline-block;
}

#logo
{
    width:15em;
}

.languages
{
    position: absolute;
    right:2em;
}

.flags
{
    width:2em;
}

.searchBar
{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
}
#searchBar
{
    width:40em;
}
