h1   {color:black}



.table th {
    color: black;
    text-align: left;
    padding: 7px 10px;
    border-bottom: solid 1px #d2d1cb;
}

.table td {
    background: #fbfcfc;
    border-bottom: solid 1px #e0e0e0;
    padding: 8px 10px;
}

.table tr.odd td {
    background: #f8f8f8;
}

.table tr:hover td {
    background: #fff9e1;
}

.table a.ico {
}

.searchBarAdmin {
    margin-top: 4em;
    margin-left: 40em;
}

.displayButton{
    margin-left: 1%;
}



.box {
    background: #fbfcfc;
    height: 100%;
    padding: 1px;
    margin-bottom: 20px;
}

.box-head {
    background: #04B45F;
    height: 32px;
    color: #fff;
    padding: 0 10px;
    line-height: 32px;
    white-space: nowrap;
    border-bottom: solid 1px #fff;
}

.box-head .right {
    padding-top: 3%;
    margin: 0% 0% 0% 0%;
    line-height: 13px;
}

.box-head .right label,
.box-head .right input {
    float: left;
}

.box-head .right label {
    padding: 4px 0 0 0;
}

.box-head .right input {
    margin-left: 5px;
}

.box-content {
    padding: 10px;
}

.box-content p {
    padding-top: 10px;
}

.box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 6px #978f6c;
    -webkit-box-shadow: 0 0 6px #978f6c;
}

.box-head {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.button {
    -moz-box-shadow: 0 0 2px #978f6c;
    -webkit-box-shadow: 0 0 2px #978f6c;
}


#saveChanges{

    margin: 0% 0% 0% 80%;

}

